* {
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

canvas {
    background: #eee;
    display: block;
    margin-bottom: 20px; 
}

button {
    display: inline-block; 
}
